
<%=stylesheet_link_tag("admindash.css")=%>
    <div class="wrapper">
       <!-- Side Bar -->

       <%= render "admin/shares/sidebar" %>

        <div class="admin/shares/main">

        <!-- navbar Bar -->

         <%= render "admin/shares/navbar" %>
   

            <main class="content px-3 py-2">

            <%= render "admin/shares/container_info" %>
              
                    <!-- Table Element -->

                    <%= render "admin/shares/table" %>
                   
            </main>
            <a href="#" class="theme-toggle">
                <i class="fa-regular fa-moon"></i>
                <i class="fa-regular fa-sun"></i>
            </a>
             <!-- Table footer -->

             <%= render "admin/shares/footer" %>
           
        </div>
    </div>



<%=javascript_include_tag("admindash.js")=%>