<%= stylesheet_link_tag 'header'%>

  <header >
<div id="header">
        <nav class="info">
            <ul style = "list-style-type: none">
                <li><a href="#"class="item"> Welcome to Sph</a></li>
                <li><svg class="svg_fill"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5M12,2A7,7 0 0,1 19,9C19,14.25 12,22 12,22C12,22 5,14.25 5,9A7,7 0 0,1 12,2M12,4A5,5 0 0,0 7,9C7,10 7,12 12,18.71C17,12 17,10 17,9A5,5 0 0,0 12,4Z" /></svg><a href="#"class="item">track your order</a></li>
                <li><svg class="svg_fill"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9.5 7C10.33 7 11 7.67 11 8.5C11 9.33 10.33 10 9.5 10C8.67 10 8 9.33 8 8.5C8 7.67 8.67 7 9.5 7M14.5 14C15.33 14 16 14.67 16 15.5C16 16.33 15.33 17 14.5 17C13.67 17 13 16.33 13 15.5C13 14.67 13.67 14 14.5 14M8.41 17L7 15.59L15.59 7L17 8.41L8.41 17M18.65 2.85L19.26 6.71L22.77 8.5L21 12L22.78 15.5L19.24 17.29L18.63 21.15L14.74 20.54L11.97 23.31L9.19 20.5L5.33 21.14L4.71 17.25L1.22 15.47L3 11.97L1.23 8.5L4.74 6.69L5.35 2.87L9.22 3.5L12 .695L14.76 3.46L18.65 2.85M20.1 9.37L17.5 8L17 5.11L14.1 5.53L12 3.5L9.9 5.53L7 5.11L6.5 8L3.9 9.37L5.2 12L3.9 14.63L6.5 16L7 18.89L9.9 18.47L12 20.5L14.1 18.47L17 18.89L17.5 16L20.1 14.63L18.8 12L20.1 9.37Z" /></svg><a href="#"class="item">All Offers</a></li>
            </ul>
        </nav>
        <nav class="search">
            <ul style = "list-style-type: none">
                <li><svg class="svg_fill bg"id="logo"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3,15H21V13H3V15M3,19H21V17H3V19M3,11H21V9H3V11M3,5V7H21V5H3Z" /></svg>
                    <a href="#"class="item-1">
                    
                        <li>
                          <%= link_to root_path do %>
                            <%= image_tag 'logo.png', width: '200px', height: '70', id: 'logo-1', alt: 'logo' %>
                          <% end %>
                        </li>

                <li><div class="bgg-1"><svg class="svg_fill bg-1"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" /></svg>
                        </div>
                    <input type="text" id="input" placeholder="Search for products, brands and more"class="item-1">
                    <div class="bgg-2"><svg class="svg_fill bg-1"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3,17V19H9V17H3M3,5V7H13V5H3M13,21V19H21V17H13V15H11V21H13M7,9V11H3V13H7V15H9V9H7M21,13V11H11V13H21M15,9H17V7H21V5H17V3H15V9Z" /></svg>
                    </div>
                </li>
                <li id ="yoyo"> <svg class="svg_fill"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" /></svg>
                    <% if user_signed_in? %>
                        <%= link_to "Déconnecter", destroy_user_session_path, method: :delete, class: "item-1" %>
                        <% else %>
                        <%= link_to "S'inscrire / Se connecter", new_user_session_path, class: "item-1" %>
                    <% end %>
                 
                   
                <div class="icon-container" id="icon-container" style="position: relative;">
                    <i class="fas fa-shopping-cart" style="fill:green;"></i>
                    <% unless @cart_count.nil? || @cart_count <= 0 %>
                      <div class="circle" id ="circle" style="position: absolute; top: -10px; right: -10px;">
                        <div id="cart-count">
                          <%= render partial: "layouts/shareshome/cart_count", locals: { cart_count: @cart_count } %>
                        </div>
                      </div>
                    <% end %>
                    <%= link_to 'Panier', cart_path, class: 'item-1' %>
                  </div>
                    </li>

     </ul>
        

        </nav>
       <nav class="category">
<ul style="list-style-type: none">
  <% @categories.each do |category| %>
    <%= link_to show_products_by_category_home_path(category_id: category.id) ,data:{turbo_frame: :results ,turbo_action: 'advance' } do %>
      <li class="item-2">
        <%= category.name %>
        <svg class="svg_fill" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
        </svg>
      </li>
    <% end %>
  <% end %>
</ul>
</nav>
</div>
</header>