<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.text_field :password %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.select :state, User::TUNISIAN_STATES, prompt: "Select State" %>
  </div>

  <div>
    <%= form.label :gender, style: "display: block" %>
    <%= form.select :gender, User::GENDER_OPTIONS, prompt: "Select Gender" %>
  </div>

  <div>
    <%= form.label :address_1, style: "display: block" %>
    <%= form.text_area :address_1, rows: 4 %>
  </div>

  <div>
    <%= form.label :address_2, style: "display: block" %>
    <%= form.text_area :address_2, rows: 4 %>
  </div>

  <div>
    <%= form.label :birth_date, style: "display: block" %>
    <%= form.date_field :birth_date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>



