

<tr id="<%= dom_id user %>">
  <td><strong>Name:</strong></td>
  <td><%= user.name %></td>
  <td><strong>Last name:</strong></td>
  <td><%= user.last_name %></td>
  <td><strong>Email:</strong></td>
  <td><%= user.email %></td>
  <td><strong>Password:</strong></td>
  <td><%= user.password %></td>
  <td><strong>Registration date:</strong></td>
  <td><%= user.registration_date %></td>
  <td><strong>Address 1:</strong></td>
  <td><%= user.address_1 %></td>
  <td><strong>Address 2:</strong></td>
  <td><%= user.address_2 %></td>
  <td><strong>State:</strong></td>
  <td><%= user.state %></td>
  <td><strong>Gender:</strong></td>
  <td><%= user.gender %></td>
  <td><strong>Birth date:</strong></td>
  <td><%= user.birth_date %></td>
</tr>

