<p>Welcome, <%= current_or_guest_user.name %></p>

<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "Sign in" , new_user_session_path %> 
<%= link_to "Sign up", new_user_registration_path %>
<% end %>
 time: <%= Time.now %>
 <!-- search part -->
<div class="card">
  <div class="card-body">
    <%= search_form_for @q, url: root_path, data:{turbo_frame: :results ,turbo_action: 'advance' },html: { class: 'row g-3' }, method: :get do |f|  %>
      <div class="col-md-6">
        <%= f.label :name_cont, class: 'form-label' %>
        <%= f.search_field :name_cont, class: 'form-control', oninput:"this.form.requestSubmit()" %>
      </div>
      

      <div class="col-md-6">
        <%= f.label :price_gteq, "Minimum Price", class: 'form-label' %>
        <%= f.search_field :price_gteq, class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= f.label :price_lteq, "Maximum Price", class: 'form-label' %>
        <%= f.search_field :price_lteq, class: 'form-control' %>
      </div>

        <div class="col-md-6">
          <%= f.label :category_id_in, "Categories", class: 'form-label' %>
          <%= f.collection_check_boxes :category_id_in, Category.all, :id, :name do |b| %>
            <div class="form-check">
              <%= b.check_box class: "form-check-input" %>
              <%= b.label class: "form-check-label" %>
            </div>
          <% end %>
        </div>
          

      <div class="col-md-6">
        <%= f.label :active_eq, "Active", class: 'form-label' %>
        <%= f.select :active_eq, [['Yes', true], ['No', false]], { include_blank: true }, class: 'form-control' %>
      </div>

      <div class="col-12">
        <%= f.submit "Search", class: "btn btn-primary"  %>
      </div>
    <% end %>
  </div>
</div>

<%= turbo_frame_tag 'results', data:{turbo_action: 'advance' }  do %>
<div class="container" style="z-index: 10;">
 time: <%= Time.now %>
<%== pagy_bootstrap_nav(@pagy) %>
  <div class="row g-3">
    <% @products.each do |product| %>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <%= render partial: "card", locals: { product: product } %>
      </div>
    <% end %>
  </div>
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
<% end %>

