<%= turbo_frame_tag :results do %>
  
<div class="container">
  <div class="card mb-3" id="<%= dom_id(@product) %>">
    <div class="row g-0">
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title"><%= @product.name %></h5>
          <p class="card-text" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
            <%= @product.description %>
          </p>
          <p class="card-text">
            <strong>Price:</strong>
            <%= @product.price %>
          </p>
          <%= link_to "Back to products", root_path, class: "btn btn-primary" %>
        </div>
      </div>
      <div class="col-md-6">
        <% if @product.image.attached? %>
          <%= image_tag(@product.image , class: "img-fluid", style: "height: 100%; object-fit: cover;") %>
        <% else %>
          <%= image_tag("placeholder.jpg", class: "img-fluid", style: "height: 100%; object-fit: cover;") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>