<div id="<%= dom_id order %>">
  <p>
    <strong>Order id:</strong>
    <%= order.id %>
  </p>
  <p>
    <strong>User id:</strong>
    <%= order.user_id %>
  </p>
  <p>
    <strong>User:</strong>
    <% if order.user %>
      <%= order.user.name %> 
    <% else %>
      No User
    <% end %>
  </p>

  <p>
    <strong>Order date:</strong>
    <%= order.order_date %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= order.total_amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>
</div>

