<p style="color: green"><%= notice %></p>
<h1>Order Details</h1>

<% if @order_details.present? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th colspan="2">Actions</th> 
      </tr>
    </thead>
    <tbody>
      <% @order_details.each do |detail| %>
        <tr>
          <td><%= detail.product.name %></td>
          <td><%= detail.quantity %></td>
          <td><%= detail.price %></td>
          <td><%= link_to '<i class="fas fa-edit text-success"></i>'.html_safe, edit_order_detail_path(detail)   %></td> 
          <td><%= link_to '<i class="fas fa-trash-alt text-danger"></i>'.html_safe, destroy_detail_path(detail), method: :delete, data: { confirm: 'Are you sure?' } %></td> 
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No order details found.</p>
<% end %>


